.emacs.d/elpa
.emacs.d/eln-cache
.emacs.d/etc
.emacs.d/var
.emacs.d/ellama-sessions
.emacs.d/auto-save-list
.emacs.d/transient
.emacs.d/.last-package-update-day
.emacs.d/.uptimes.el
.emacs.d/tramp/
.emacs.d/.mc-lists.el
*~
.emacs.d/pyim/
.emacs.d/tramp
